* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
}

.btnblob {
  /* padding: 38px; */
  position: relative;
  /* min-width: 30%;
  max-width: 88px; */

  /* min-height: 30%;
  min-height: 88px; */

  width: 5rem;
  height: 5rem;
  margin: 1px;

  /* min-height: 88px; */
  border-radius: 30px;
}

#main {
  padding: 40px 4px;
  margin: 0;
  color: #fff;
  grid-area: main;
}
#adder {
  grid-area: adder;
}
#rmver {
  grid-area: rmver;
}
#toolbox {
  z-index: 3000;
  grid-area: toolbox;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
  /* position: fixed; */
}
#maingrid {
  grid-auto-columns: 1fr 3fr;
  display: grid;
  /* grid-template: 4 8; */
  grid-template-areas: "toolbox main";
}

.norm {
  text-align: center;
  box-sizing: border-box;
  transition: 200ms;
  /* padding: 20px 2px 100px 2px; */
  padding: 20px 2px;
  border-radius: 4px;
  /* border: solid 2px #777; */
  border-style: solid;
  border-color: #777;
  border-width: 3px;
  border-radius: 20px;
  margin: 7px 17px;
  /* position: relative; */
  pointer-events: fill;
  /* z-index: 10; */
  min-width: 140px;
  background-color: rgb(30, 33, 37);
}

.active {
  border: solid 4px #74f;
  background: linear-gradient(0deg, #8a2be222, #8a2be200 100%);
  /* padding: 6px; */
  padding: 6px 6px 100px 6px;

  margin: 12px;
  border-radius: 13px;
}

.inactive {
  border: solid 2px #777;
}

@media only screen and (max-width: 600px) {
  #maingrid {
    grid-template-areas: "main" "toolbox";
    padding: 0;
  }

  #toolbox {
    position: fixed;
    width: 100%;
    margin: 0px;
    bottom: 0;
    max-height: 50vh;
    overflow: scroll;
    /* background-color: #debdeb77; */
    background: linear-gradient(-30deg, #debdeb77, #debdeb22);
    border: solid #debdebde 1px;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 20px 20px 0 0;
  }
  #main {
    padding-bottom: 50vh;
  }
  /*  */
  /*  */
  /*  */
  /* width */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #2f2f2f2f;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

button {
  position: relative;
}
