body {
  background-color: #222;
}

.btnblob {
  /* padding: 38px; */
  min-width: 88px;
  min-height: 88px;
  border-radius: 30px;
}

#main {
  /* padding: 40px 4px; */
  margin: 0;
  color: #fff;
  grid-area: main;
}
#adder {
  grid-area: adder;
}
#rmver {
  grid-area: rmver;
}
#toolbox {
  z-index: 3000;
  grid-area: toolbox;
  /* position: fixed; */
}
#maingrid {
  grid-auto-columns: 1fr 3fr;
  display: grid;
  /* grid-template: 4 8; */
  grid-template-areas: "toolbox main";
}

.norm {
  text-align: center;
  box-sizing: border-box;
  transition: 200ms;
  padding: 20px 2px;
  border-radius: 4px;
  /* border: solid 2px #777; */
  border-style: solid;
  border-color: #777;
  border-width: 3px;
  margin: 7px;
  position: relative;
  pointer-events: fill;
  z-index: 10;
  min-width: 140px;
  background-color: rgb(30, 33, 37);
}

.active {
  border: solid 4px #74f;
  background: linear-gradient(0deg, #8a2be222, #8a2be200 100%);
  padding: 6px;
  margin: 12px;
  border-radius: 13px;
}

.inactive {
  border: solid 2px #777;
}

@media only screen and (max-width: 600px) {
  #maingrid {
    grid-template-areas: "main" "toolbox";
  }

  #toolbox {
    position: fixed;
    bottom: 0;
  }
}
