body {
  background-color: #222;
}

#main {
  padding: 40px 4px;
  color: #fff;
}

.norm {
  box-sizing: border-box;
  transition: 200ms;
  padding: 2px;
  border-radius: 4px;
  border: solid 2px #777;
  margin: 7px;
  position: relative;
  pointer-events: fill;
  z-index: 10;
  background-color: #aaf2;
}

.active {
  border: solid 4px #74f;
  padding: 10px;
  margin: 10px;
  border-radius: 13px;
}

.inactive {
  border: solid 2px #777;
}
