:root {
  --bg: 32, 32, 32; /*r g bs*/
  /* accent: ; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(var(--bg), 1);
}

.btnblob {
  /* min-height: 30%;
  min-height: 88px; */
  position: relative;
  min-width: 5rem;
  min-height: 5rem;
  padding: 0.4rem;
  margin: 1px;
  border-radius: 30px;
  border: solid 4px hsl(255, 770%, 77%);
  background-color: rgb(238, 238, 238);
  color: whi;
}

#headerBar {
  z-index: 99999;
  position: relative;
  box-shadow: 0 10px 10px #0004;
  font-family: "Josefin Sans", sans-serif;
  /* font-weight: 600; */
  display: flex;
  font-size: 568.5%;
  width: 100%;
  background-color: #342f36de;
  padding-left: 40px;
  /* border-radius: 0 0 44px 44px; */
  transition: 700ms;

  /* background-color: #a52a2a; */
}
a {
  text-decoration: none;
  color: hsl(256, 100%, 78%);
}
#headerBar a {
  transition: 200ms;
  border-radius: 7px;
}
#headerBar a:hover {
  transition: 700ms;
  color: hsl(283, 10%, 100%);
  /* background-color: #fff2; */
  background: linear-gradient(140deg, #fff2, #fff3);
}
#headerBarLeftend {
  background-color: hsla(140, 18%, 32%, 0.3);
  display: flex;
  padding: 0 4px;
  margin-left: auto;
  align-items: center;
  justify-items: center;
}

#headerBarLeftend button {
  margin: 4px;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12vh 4px;
  margin: 0;
  color: #fff;
  /* background-color: hsl(256, 100%, 83%); */
}
#toolbox {
  background: linear-gradient(-30deg, #debdeb77, #debdeb22);
  border: solid #debdebde 1px;
  padding: 4px;
  position: fixed;
  z-index: 3000;
  box-sizing: border-box;
  width: 22.5%;
  margin: 0 1.25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: scroll;
}

.blobName {
  display: block;
}
.norm {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  /* padding: 20px 2px 100px 2px; */
  transition: 200ms;
  padding: 20px 7px;
  margin: 7px 17px;
  border-style: solid;
  border-color: #777;
  border-width: 3px;
  border-radius: 20px;
  /* border-radius: 4px; */
  /* position: relative; */
  pointer-events: fill;
  background-color: rgb(30, 33, 37);
  min-width: 140px;
  min-width: calc(100% - 40px);
}

.appendable {
  /*Maybe later*/
  padding: 6px 6px 100px 6px;
}

.active {
  border: solid 4px #74f;
  background: linear-gradient(0deg, #8a2be222, #8a2be200 100%);
  /* padding: 6px; */
  padding: 6px 6px 100px 6px;

  margin: 7px 7px;
  /* border-radius: 13px; */
}

.collectorBlobClass {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.inactive {
  border: solid 2px #777;
}

@media only screen and (max-width: 600px) {
  #headerBar {
    font-size: 2.3rem;
  }
  /* #maingrid { */
  /* grid-template-areas: "main" "toolbox"; */
  /* padding: 0; */
  /* } */

  #toolbox {
    /* position: fixed; */
    width: 100%;
    margin: 0px;
    bottom: 0;
    max-height: 35vh;
    overflow: scroll;
    /* background-color: #debdeb77; */
    box-sizing: border-box;
    border-radius: 20px 20px 0 0;
  }
  #main {
    padding-bottom: 50vh;
  }
}

.numput {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  #headerBar {
    position: fixed;
    height: 8vh;
    font-size: 7vh;
  }

  #main {
    margin-left: 25vw;
  }

  #toolbox {
    height: 80vh;
    margin-top: 12vh;
    border-radius: 17px;
  }
}
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2f2f2f2f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

button {
  position: relative;
}
